.box {
    background-image: url('../../public/ada.png');
    display: flex;
    width: 1920px;
    height: 942px;
    color: red;
    justify-content: center;
    position: absolute;
    top: 0px;
    /* background-position: center; */
    background-size: 1920px;
    z-index: 5;
}
.box > div {
    width: 1920px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 2rem;
    margin-right: 290px;
    margin-top: 304px;
}
.input {
    text-align: center;
    line-height: 8;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    margin-bottom: 14rem;
    background: transparent;
    color: black;
    width: 5rem;
    border: transparent;
}

